<section>
    <div class="site-info">
        <div class="info-anchor" id="concept">
            <h4>KONSEPTET</h4>
            <p>Mandagsklubben er en visjon om en oase for oss musikere – en scene hvor ny, eksperimentell musikk får blomstre. En scene for oss musikere til å presentere original, banebrytende kvalitetsmusikk, initiert av et savn om et sted i Oslo hvor man på relativt kort varsel kan spille, prøve ut nye ideer og konstellasjoner, og sammen skape et støttende og inspirerende musikkmiljø. I tredje etasje på Becco har vi nå muligheten for vårt eget sted hvor vi kan presentere det som er viktig for oss, i en konsentrert setting med lave skuldre.</p>

            <p>Vi satser på 3-4 forskjellige band hver mandag (ca. 30 min sett)! Her tar vi presentasjonen av musikken vår i egne hender, akkurat som når du starter ditt eget plateselskap for å gi ut musikken din. Det er ingen mellomperson. Mandagsklubben er stedet hvor vi bryter ideer mot hverandre og går inspirert hjem...og dette i begynnelsen av uka!</p>
        </div>

        <div class="info-anchor" id="booking">
            <h4>BOOKING</h4>
            <p>Jeg står for kurateringen av klubben (i hvert fall i begynnelsen), og min booking-filosofi er like enkel som den er gøy: JA, la os gjøre det! Så når du spør om å spille hos oss, husk din del av avtalen – det er opp til deg å få publikum til å komme. Vær obs på at jeg gjør dette idealistisk og totalt uten betaling, så når du har fått GO for en spillejobb, send meg tre korte linjer om konserten din (på både norsk og engelsk), samt en komplett lineup.</p>
            <p>Alle henvendelser: <em>torbensnekkestad@gmail.com</em></p>
        </div>

        <div class="info-anchor" id="money">
            <h4>ØKONOMI</h4>
            <p>Mandagsklubben er en klubb og et laboratorium for musikk miljøet! Uavhengighet er greia, og vi har ingen støtte, og vi kommer nok heller ikke til å sende en eneste søknad – vi kjører fullstendig uavhengig. Pengene vi eventuelt genererer, kommer fra Vipps-donasjoner, barsalg og merch-slag. Alle som er med gjør dette fordi de brenner for musikken og miljøet. Altså, en møteplass som ikke er avhengig av kulturbyråkratiet.</p>
        </div>

        <div class="info-anchor" id="gear">
            <h4>UTSTYR</h4>
            <p>På klubben har vi et oppreist Schimmel piano (som vi prøver å stemme jevnlig), et lite PA-anlegg, 4 kanals mikser, et trommesett (Ludwig Breakbeat, uten cymbaler), Fender Rhodes MK5, 2 gitarforsterkere (Fender Twin Reverb og Roland Jazz Chorus-50), bassforsterker (Mark Bass Combo Head II), og noen mikrofoner.</p>

            <p>Trenger du andre ting må du altså slepe med dette selv.</p>

            <p>Vi går for minst mulig teknisk fuzz og krav. Mest mulig reinspikka utprøving og velvilje.</p>
        </div>

        <div class="info-anchor" id="contribute">
            <h4 >BIDRA</h4>
            <p>Du kan hjelpe ved å gjøre Mandagsklubben til stedet du går ut for å sjekke ut hva kollegaene dine holder på med for tiden og stedet hvor du presenterer din mest aktuelle musikk. Du kan hjelpe ved å lage og henge opp plakater, du kan hjelpe ved å fremme promoteringen og komme med friske ideer om hvordan det kan fortsette å vokse. Og du kan hjelpe ved å komme og bidra som utøver, hjelper eller publikum!</p>

            <p>Hvis du har spørsmål eller forslag, vennligst skriv til <em>torbensnekkestad@gmail.com</em></p>
        </div>
    </div>
</section>
