/*	Typography presets
  ------------------------------------	*/

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
  color: $textColor

.gigantic
  font-size: 32px
  line-height: 1.09
  letter-spacing: -2px

.huge, h1
  font-size: 40px
  line-height: 1
  letter-spacing: -1px

.large, h2
  font-size: 34px
  line-height: 1.14

.bigger, h3
  font-size: 28px
  line-height: 1.38
  margin: 24px 0px

.big, h4
  font-size: 22px
  line-height: 1.38

h5
  font-size: 16px
  line-height: 1.38

p
  font-size: 14.5px
  line-height: 1.5

.small, small
  font-size: 12px
  line-height: 1

em
  font-style: italic

strong
  font-weight: bold
  color: $accentColor

/* Links
  ------------------------------------	*/
a
  color: $textColor
  text-decoration: none
  outline: 0

a:hover, a:focus
  color: $accentColor

/* Selection colors
  ------------------------------------	*/

::selection
  background: $selectionColor

::-moz-selection
  background: $selectionColor

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: $selectionColor


/* Basic Styles
  ------------------------------------	*/
body
  background: $backgroundColor
  font-family: 'Sixtyfour', sans-serif
  color: $textColor
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  .site-container
    width: 65vw
    margin: auto

@media screen
body
  .site-container
    width: 80vw
