/* header */ 
header
  position: sticky
  top: 0
  background: $backgroundColor
  .site-title
    text-align: center
    overflow-wrap: break-word
  .site-info
    text-align: justify

/* home */

.program-list
  text-align: justify
  
/* footer */ 
footer
  .social-media
    text-align: center
    a 
      margin: 10px
      font:
        size: 40px
        weight: 700
