/* header */ 
header
  position: sticky
  top: 0
  background: $backgroundColor
  text-align: center
  overflow-wrap: break-word
  padding: 0.67em 0 0 0
      
/* home */
.site-info
  text-align: justify
.program-list
  text-align: justify
  
  

/* footer */ 
footer
  .social-media
    text-align: center
    a 
      margin: 10px
      font:
        size: 40px 
        weight: 700
