---
layout: default
---
<section>
    <div class="site-info">
        <p>
            Opplev Oslos nye musikalske hotspot! Mandagsklubben på Becco byr på spennende, eksperimentell musikk fra lokale musikere. Dette er musikernes helt egen klubb, drevet av idealisme og utforskningstrang. Her kan du hver gang høre fire unike live-sett i en uformell og intim setting. 
        </p>
        <p style="text-align: center">
            <br>
            Bli med på å gjøre mandagene til noe å glede seg til!
            <br>
            booking: torbensnekkestad<wbr>(at)gmail.com
        </p>
    </div>
    {% for date in site.programs %}
    <div class="program">
        <h3 class="program-date">{{ date.header }}</h3>
        <div class="program-list">
            {{ date.content }}
        </div>
    </div> 
    {% endfor%}
</section>
