---
layout: default
---
<section>
    <div class="site-info">
        <p>Mandagsklubben er en visjon om en oase for oss musikere – en scene hvor ny, eksperimentell musikk får blomstre. En scene for oss musikere til å presentere original, banebrytende kvalitetsmusikk, initiert av et savn om et sted i Oslo hvor man på relativt kort varsel kan spille, prøve ut nye ideer og konstellasjoner, og sammen skape et støttende og inspirerende musikkmiljø.</p>

        <p style="text-align: right">booking: oslomandagsklubben<wbr>(at)gmail.com</p>
        <hr>
    </div>

    {% for date in site.programs %}
    <h4 class="program-date">{{ date.header }}</h4>
    <div class="program-list">
        {{ date.content }}
    </div>
    {% endfor%}
</section>
